@model Cafeteria.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricaoProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricaoProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorProduto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar para lista de produtos</a>
</div>
