@model IEnumerable<Cafeteria.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create">Cadastrar novo cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpfCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senhaCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpfCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senhaCliente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
